.columns > div {
  display: flex;
  flex-direction: column;
}

.columns img {
  width: 100%;
}

.columns > div > div {
  order: 1;
}

.columns > div > .columns-img-col {
  order: 0;
}

.columns > div > .columns-img-col img {
  display: block;
}

/* grid spacing for 2-column image block */
.columns.columns-2-cols > div > .columns-img-col {
  --img-columns-padding-gap: 10%;
  --img-columns-basis: 20%;

  &:first-child {
    flex-basis: var(--img-columns-basis);
    padding-inline-end: var(--img-columns-padding-gap);
  }
  &:last-child {
    flex-basis: var(--img-columns-basis);
    padding-inline-start: var(--img-columns-padding-gap);
  }
}

@media (min-width: 900px) {
  .columns > div {
    align-items: center;
    flex-direction: unset;
    gap: 32px;
  }

  .columns > div > div {
    flex: 1;
    order: unset;
  }
}
