.columns > div {
  display: flex;
  flex-direction: column;
}

.columns img {
  width: 100%;
}

.columns > div > div {
  order: 1;
}

.columns > div > .columns-img-col {
  order: 0;
}

.columns > div > .columns-img-col img {
  display: block;
}

/* grid spacing for 2-column image block */
.columns.columns-2-cols > div > div {
  flex-grow: 45;

  &.columns-img-col {
    flex-grow: 55;
  }
}

/* text column spacing */
.columns > div > div > p {
  &:first-child {
    margin-block: 0 0.4rem;
  }
  margin-block: 1rem;
}
.columns > div > div > :where(h1, h2, h3, h4, h5, h6) {
  margin-block: 0;

  & + p {
    margin-block: 1.5rem 0;
  }
}

@media (min-width: 900px) {
  .columns > div {
    align-items: center;
    flex-direction: unset;
    gap: 8%;
  }

  .columns > div > div {
    flex: 1;
    order: unset;
  }
}
