/* stylelint-disable */
header {
  min-height: 160px;
  background-color: #000;
}

.header p,
.header ul {
  margin: 0;
}

.header .owc-header__top {
  font-size: var(--body-font-size-m);
  font-family: var(--body-font-family);
  line-height: 1.6;
  color: var(--text-color);
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  display: flex;
  justify-items: stretch;
  max-width: 1680px;
  width: 100%;
  height: 96px;
  -webkit-box-align: center;
  align-items: center;
  padding: 16px 0;
}

.header .owc-header__logo-and-claim-anchor {
  font-size: var(--body-font-size-m);
  font-family: var(--body-font-family);
  line-height: 1.6;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  position: absolute;
  display: inline-flex;
  align-items: flex-end;
  left: 0;
  transform: none;
  color: var(--link-color);
  text-decoration: none;
}

.owc-header__logo-wrapper {
  font-size: var(--body-font-size-m);
  font-family: var(--body-font-family);
  line-height: 1.6;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  color: var(--link-color);
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}

.header .owc-header__claim-wrapper {
  font-size: var(--body-font-size-m);
  font-family: var(--body-font-family);
  line-height: 1.6;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  box-sizing: border-box;
  margin-left: 64px;
  color: #fff;
  display: block;
}

.header .owc-header__claim-wrapper svg {
  font-size: var(--body-font-size-m);
  font-family: var(--body-font-family);
  line-height: 1.6;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  color: #fff;
  width: 111;
  height: 13;
  box-sizing: border-box;
  display: block;
  overflow: hidden;
}

.header .owc-header__language-and-imprint {
  font-size: var(--body-font-size-m);
  font-family: var(--body-font-family);
  line-height: 1.6;
  color: var(--text-color);
  box-sizing: border-box;
  -webkit-box-flex: 1;
  flex: 1;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: end;
  justify-content: flex-end;
  margin: 0 calc(1.5rem/2);
  display: flex;
}

.header .owc-header__item-imprint {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-font-smoothing: antialiased;
  font: inherit;
  font-family: "MBCorpo Text","DaimlerCS-Regular","DaimlerCSArab-Regular",sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: .75rem;
  line-height: 1rem;
  letter-spacing: .01875em;
  justify-self: center;
  margin: 0 calc(1.5rem/2);
  display: block;
  color: #bbb;
  text-decoration: none;
}

.header .owc-header__logo-wrapper svg {
  font-size: var(--body-font-size-m);
  font-family: var(--body-font-family);
  line-height: 1.6;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  color: var(--link-color);
  box-sizing: border-box;
  overflow: hidden;
  width: 64px;
  height: 64px;
}

.header .owc-header__header-navigation {
  font-size: var(--body-font-size-m);
  font-family: var(--body-font-family);
  line-height: 1.6;
  color: var(--text-color);
  box-sizing: border-box;
  position: relative;
  border-top: 1px solid #262626;
  min-height: 64px;
}



.header .owc-header__header-navigation {
  font-size: var(--body-font-size-m);
  font-family: var(--body-font-family);
  line-height: 1.6;
  color: var(--text-color);
  box-sizing: border-box;
  position: relative;
  border-top: 1px solid #262626;
  min-height: 64px;
}

.header .owc-header-main-navigation__desktop-wrapper {
  font-size: var(--body-font-size-m);
  font-family: var(--body-font-family);
  line-height: 1.6;
  color: var(--text-color);
  direction: ltr;
  unicode-bidi: isolate;
  box-sizing: border-box;
}

.header .owc-header-main-navigation,
.header .owc-header-main-navigation__desktop {
  font-size: var(--body-font-size-m);
  font-family: var(--body-font-family);
  line-height: 1.6;
  direction: ltr;
  box-sizing: border-box;
  list-style: none;
  padding: 0;
  color: #767676;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  max-width: 1680px;
  width: 100%;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  -webkit-box-align: center;
  align-items: center;
  min-height: 56px;
}

.header .owc-header-navigation-topic {
  font-size: var(--body-font-size-m);
  font-family: var(--body-font-family);
  line-height: 1.6;
  list-style: none;
  color: #767676;
  -webkit-box-direction: normal;
  direction: ltr;
  unicode-bidi: isolate;
  box-sizing: border-box;
  padding: 0;
  margin-bottom: 0;
}

.header .owc-header-navigation-topic__button {
  font-size: var(--body-font-size-m);
  font-family: var(--body-font-family);
  line-height: 1.6;
  list-style: none;
  -webkit-box-direction: normal;
  direction: ltr;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  color: var(--link-color);
  text-decoration: none;
  border: none;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 0;
  text-align: left;
  list-style-type: none;
  min-height: 40px;
  position: relative;
  height: 64px;
  margin-bottom: 0;
  padding: 16px;
}
.header .owc-header-navigation-topic__button:hover {
  text-decoration: none;
  color: #fff;
}
.header .owc-header-navigation-topic__button:hover p,
.header .owc-header-navigation-topic__button:hover svg {
  color: #fff;
}

.header .owc-header-navigation-topic__desktop-models-icon {
  display: none;
}

.header .owc-header-navigation-topic.owc-header-navigation-topic__model-flyout .owc-header-navigation-topic__desktop-models-icon {
  font-size: var(--body-font-size-m);
  font-family: var(--body-font-family);
  line-height: 1.6;
  list-style: none;
  -webkit-box-direction: normal;
  direction: ltr;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  text-align: left;
  list-style-type: none;
  box-sizing: border-box;
  user-select: none;
  vertical-align: middle;
  visibility: inherit;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  width: 24px;
  height: 24px;
  margin-right: 8px;
  color: #bbb;
}

.header .owc-header-navigation-topic__label {
  list-style: none;
  -webkit-box-direction: normal;
  direction: ltr;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  text-align: left;
  list-style-type: none;
  box-sizing: border-box;
  margin: 0;
  position: relative;
  padding-right: 0;
  cursor: pointer;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-font-smoothing: antialiased;
  font: inherit;
  font-family: "MBCorpo Text","DaimlerCS-Regular","DaimlerCSArab-Regular",sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #bbb;
  font-size: 1.125rem;
  line-height: 1.75rem;
}

wb-icon{display:inline-flex;height:24px;user-select:none;vertical-align:middle;width:24px}wb-icon svg{fill:currentcolor;height:auto;max-height:100%;width:100%}[dir="rtl"] wb-icon[flip-rtl] svg{transform:scaleX(-1)}

wb-icon.hydrated {
    visibility: inherit;
}

.owc-header a {
  color:  #bbb;
}
