footer {
  padding: 2rem;
  background-color: var(--footer-background-color);
  font-size: var(--body-font-size-s);
}

footer .footer {
  max-width: 1200px;
  margin: auto;
}

footer .footer p {
  margin: 0;
}

footer .scrollToTop__wrapper {
  text-align: center;
  margin-bottom: 32px;

  & button {
    margin-top: 0;
    background-color: transparent;
    border: none;
    font-weight: normal;
  }

  & svg {
    fill: white;
    width: 48px;
  }
}
